.header-div {
    background-color: #ff481f;
}

.logo {
    margin: 5px 5px 15px 10px;
}

.home-content {
    text-align: justify;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 800;
    margin-inline: 3rem;
}

.guess-btn {
    margin-top: 1.5rem;
    margin-left: 3rem;
}

.intro-text {
    font-size: 0.9rem;
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: justify;
    margin-bottom: 2rem;
}

.highlight-text {
    font-size: 0.9rem;
    font-family: 'Montserrat';
    font-weight: 800;
}
